@import url('https://fonts.googleapis.com/css?family=Akronim|Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Kurale|Raleway|Monoton&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

header{
    background: #766dec;
    width: 60vw;
    margin-left:20vw ;
    margin-top: 1%;
    position: absolute;
    z-index: 999999;
    border-radius: 10px;
    height: 100px;

}

 .top-bar{
    width: 30%;
    height: auto;
} 

.top-bar-logo{
    float: left;
}

.top-bar-logo .left h1{
    font-size: 3.5em;
    position: absolute;
    margin-top: 2%;
    font-family: 'Akronim', cursive;
    color: white;
    letter-spacing: 10px;
}


nav {
    margin-right: 3%;
    width: 40%;
    position: absolute;
    margin-left: 60%;
    margin-top: 3%;
}
nav ul{
  list-style: none;
}

nav ul li{
    display: inline;
    text-align: center;
    margin-left: 5%;    

}
nav ul li a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Lobster Two', cursive;

}


nav ul li a::before{
    content: '';
    position: absolute;
    height: 5px;
    width: 100%;
    background: #eea44f;
    transform: scale(0);
    transform-origin: 0;
}

nav ul li a:hover::before{
    content: '';
    width: 12%;
    transition: 2s;
    transform: scale(1);
}




/* Here Starts the main section aka the homepage */

section{
    min-height: 100vh;
    height: auto;
    width: 100vw;
    overflow-x: hidden!important;
}

.Container{
    height: auto;
    width: 100%;
    overflow-x: hidden;
}

.homepage{
    height: auto;
    width: 100%;
}

.Home-logo{
    position: absolute;
    top:0;
    width: 50%;
    left: 50%;
    height: 100vh;
    overflow: hidden;
}

.logo-image{
    height: auto;
    width: 100%;
    align-self: center;
    margin: 0;
    padding: 0;
}

.Image{
    height: auto;
    width: 100%;

    
}


.Image img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}



.content{
    position: absolute;
    width: 50%;
    top:0;
    left: 0;
    height: 100vh;
}

.Heading-text{
    min-height: 40%;
    height: auto;
    width: 100%;
    align-self: center;
    align-content: center;
    margin-top: 30%;
}


.center-box{
    height: 100%;
    width: 100%;
    text-align: center;
}


.center-box h1{
    font-size: 6em;
    line-height: 2em;
    font-kerning: normal;
    font-weight: lighter;
    color: #ff8800;
    
    font-family: 'Monoton', cursive;
    width: 100%;
    letter-spacing: 4px;
    margin-top: 10%;
}














/* About Section starts from here */

#about{
    height: auto;
    width: 100%;
    background: whitesmoke;
}

.master-box{
    height: auto;
    width: 100%;
}
.head-box{
    width: 45%;
    height: auto;
    float: left;
    overflow: hidden;
}

.text-headline{
    width: 100%;
    height: auto;
    text-align: center;
   
}

.text-headline h1{
    font-family: 'Kurale', serif;
    letter-spacing: 2px;
    font-display: block;
     color: #766dec;
     margin-top: 2%; 
     font-size: 5rem;
}

.text-details{
        height: auto;
        width: 100%;
        overflow: hidden;
        margin-top: 2%;
        align-content: center;
        align-self: auto;
}


.text-details p{
    color: rgb(95, 95, 95);
    font-family: 'Kurale','Raleway','cursive',serif;
    font-size: 1.5rem;
    font-optical-sizing: 2.5em;
    margin-top: 10%;
    margin-left: 5%;
    
}

.Image-box{
    width: 50%;
    height: auto;
    float: right;
    /* border: 1px solid #766dec; */
}

.Image-box .Image-alignment{
    width: 100%;
    min-height: 400px;
    height: auto;
    object-fit: cover;
    object-position: center;
}


.Image-alignment img{
    height: 450px;
    width: auto;    
    margin-left: 10%;
    object-fit: cover;
}

.text-headline h2{
    color: #766dec;
    font-family: 'Monoton', cursive;
    font-weight: lighter;

    font-size: 3em;
    letter-spacing: 12px;
}


.text-headline h3{
    color:   rgb(95, 95, 95);
    font-weight: lighter;
    font-family: 'Kurale','Raleway','cursive',serif;
    font-size: 3em;
    letter-spacing: 12px;
    letter-spacing: 2px;
    word-spacing: 4px;
}